header {
    background: var(--verde-escuro);
    position: relative;
}

header nav > img {
    width: 2.5em;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    color: var(--preto);
    border: 80%;
    text-align: center;
    margin: 1em 0 .5em 0;
    text-transform: uppercase;
}

.wrapper {
    border-top: var(--cinza-200) 1px solid;
    display: flex;
    width: 100%;
    height: 70vh;
}

.lado-esquerdo,
.lado-direito {
    width: 50%;
}

.lado-esquerdo {
    border-right: 1px solid var(--cinza-200);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}