/* title */
.wrapper .lado-esquerdo .title {
    background: var(--verde);
    position: relative;
    padding: 2em;
    width: 100%;
}

.wrapper .lado-esquerdo .title h2 {
    font-size: 2rem;
    text-transform: none;
}

/* inputs */
.wrapper .lado-esquerdo .inputs {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* form dos inputs */
.wrapper .lado-esquerdo form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.wrapper .lado-esquerdo .inputs form > label {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.wrapper .lado-esquerdo .inputs form > label span {
    font-size: 1.2rem;
    font-weight: 500;
}

/* bolinhas */
.wrapper .lado-esquerdo .inputs .bolinhas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -2em;
    top: -.5em;
    gap: 5em;
}

.wrapper .lado-esquerdo .inputs .line {
    width: 3px;
    background: var(--cinza-400);
    position: absolute;
    height: 5em;
    z-index: -1;
}

.wrapper .lado-esquerdo .inputs .bolinhas span {
    background: var(--verde);
    color: var(--branco);
    font-weight: 500;
    border-radius: 5em;
    padding: .5em .7em;
}



.wrapper .lado-esquerdo .inputs form  > label > input,
.wrapper .lado-esquerdo .inputs form  > label > select,
.wrapper .lado-esquerdo .inputs form  > label > div {
    background: var(--cinza-200);
    border-radius: .3em;
    width: 100%;
    height: 100%;
    padding: 1em;
    font-size: 1em;
}

.wrapper .lado-esquerdo .btn {
    background: var(--verde-escuro);
    border-radius: 1em;
}

.wrapper .lado-esquerdo .btn:disabled {
    background: var(--cinza-200);
}