@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  #confirmar-dados .lado-esquerdo,
  #confirmar-dados {
    width: 100%;
  }

  .wrapper .lado-esquerdo {
    border: 1px solid var(--cinza-200);
  }

  #confirmar-dados .boxInformacoes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
