/* Form */
form,
form .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    color: var(--verde);
    gap: 1.5em;
}

form h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
}

/* Botão */
form > button {
    border-radius: var(--arredondamento);
    background: var(--verde);
    color: var(--branco);
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

/* Label, Botao e Lembre-se de mim */
form .inputs .input-lembrar,
form .inputs > label,
form > button {
    width: 80%;
    max-width: 450px;
}