.lado-form {
    background: var(--branco);
    justify-content: space-between;
}

.lado-form > img {
    width: 20%;
    min-width: 100px;
    max-width: 300px;
}

/* Links */
.lado-form a {
    color: var(--verde);
    text-decoration: underline;
}

.lado-form > p,
.lado-form > p a {
    font-size: 1rem;
}

.lado-form > p a {
    font-weight: bold;
}