.lado-form {
    background: var(--branco);
    justify-content: space-around;
    gap: 1em;
}

.lado-form > img {
    width: 13%;
    min-width: 50px;
    max-width: 300px;
}

/* Links */
.lado-form a {
    color: var(--verde);
    text-decoration: underline;
}

.lado-form > p,
.lado-form > p a {
    font-size: 1rem;
}

.lado-form > p a {
    font-weight: bold;
    margin-top: .5em;
    display: block;
}