.dout-especializados {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
  gap: 2em;
}

/* grid imagens */
.dout-especializados .boxImg {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 0.2em;
  
}

.dout-especializados .boxImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dout-especializados .boxImg img:nth-child(1) {
  grid-area: 2 / 1 / -1 / 3;
}
.dout-especializados .boxImg img:nth-child(2) {
  grid-area: 2 / 3 / -1 / -1;
}
.dout-especializados .boxImg img:nth-child(3) {
  grid-area: 1 / 1 / 2 / 2;
}
.dout-especializados .boxImg img:nth-child(4) {
  grid-area: 1 / 2 / 1 / 3;
}
.dout-especializados .boxImg img:nth-child(5) {
  grid-area: 1 / 3 / 1 / 4;
}

/* lado direito */
.dout-especializados .info {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.dout-especializados .info > p {
  font-weight: 500;
}

.dout-especializados .info a {
  color: var(--verde);
  transition: 0.3s;
}

.dout-especializados .info a::after {
  content: url("../../../../public/main-page/icons/seta.svg");
  display: inline-block;
  transform: scale(0.55) translate(0, 3px);
  transition: 0.3s;
}

.dout-especializados .info a:hover {
  transform: translate(2px, 0);
}

.dout-especializados .info a:hover::after {
  transform: scale(0.7) translate(25px, 3px);
}

.dout-especializados .info .boxDados {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.dout-especializados .info .boxDados h3 {
  font-size: 3rem;
}

.dout-especializados .info .boxDados p {
  color: var(--cinza-400);
}
