.boxPerguntas,
.perguntaItem {
  display: flex;
  flex-direction: column;
}

.perguntaItem {
    width: 100%;
}

.perguntaItem .pergunta,
.perguntaItem.showResposta .resposta {
    gap: 2em;
    padding: 1em;
    border-radius: .2em;
}

.perguntaItem .pergunta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

.perguntaItem .pergunta:hover {
    background: var(--cinza);
    cursor: pointer;
}

.perguntaItem .pergunta img {
    width: 14px;
    transition: 0.3s;
}

.perguntaItem .pergunta:hover img {
    transform: scale(1.1);
}

.perguntaItem .resposta {
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease;
}

.perguntaItem.showResposta .resposta {
    background: var(--cinza);
    display: block;
    height: auto;
}


span{
    font-weight: 700;
    color: var(--preto);
    margin-right: 10px;
}

.title{
    font-size: 120%;
    font-weight: 700;
    color: var(--preto);
    margin-right: 10px;
}

.dowm{
    user-select: none;
}

hr{
    background-color: var(--cinza-escurao);
    width: 100%;
    height: 2px;
    border: none;
    margin: 0 auto;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
}
