@media (max-width: 1300px) {
  /* departamentos */
  .boxDepartamentos {
    grid-template-columns: repeat(3, minmax(10%, 1fr));
  }

  .boxDepartamentos .card:last-child {
    grid-area: 4 / 2 / 4 / 3;
  }

  /* dout-especializados */
  .dout-especializados {
    flex-direction: column;
  }

  .dout-especializados .info {
    order: -1;
    width: 80%;
    text-align: center;
  }

  .dout-especializados .boxImg {
    width: 75%;
  }

  /* planos */
  .boxPlanos {
    justify-content: center;
  }

  .planoItem.active {
    transform: translateY(0);
  }

  /* duvidas-frequentes */
  .duvidas-frequentes {
    padding: 3em 3em 3em 5em;
  }

  .duvidas-frequentes .wrapper {
    flex-direction: column;
  }

  .duvidas-frequentes .wrapper > img {
    width: 100%;
  }
}

@media (max-width: 950px) {
  /* HEADER nav */
  nav {
    height: 0;
    overflow: hidden;
  }

  .open-nav {
    display: block;
  }

  /* hero */
  .hero {
    align-items: center;
  }

  .hero h1,
  .hero p {
    text-align: center;
  }

  /* sobre-nos */
  .sobre-nos .content {
    flex-direction: column;
  }

  .sobre-nos .content img {
    border-top: var(--branco) 0.4em solid;
    width: 100%;
  }

  .sobre-nos .content .text {
    align-items: center;
    text-align: center;
  }

  /* footer */
  footer .up {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  footer .up > a {
    display: flex;
    justify-content: center;
  }

  footer .up .dir {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer .down {
    flex-direction: column;
    align-items: center;
  }

  footer .down .redes-sociais {
    order: -1;
    gap: 1em;
  }

  /* departamento */
  .boxDepartamentos {
    grid-template-columns: repeat(2, minmax(10%, 1fr));
  }
}

@media (max-width: 600px) {
  a.btn {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  /* hero */
  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.1rem;
    width: 70%;
  }

  /* departamentos */
  .departamentos > span {
    font-size: 1rem;
  }

  .boxDepartamentos {
    width: 90%;
  }

  .boxDepartamentos .card span {
    font-size: 0.85rem;
  }

  /* dout especializados */
  p {
    font-size: 1rem;
  }

  span,
  a {
    font-size: 1rem;
  }

  .dout-especializados .info .boxDados h3 {
    font-size: 1.5rem;
  }

  .dout-especializados .info .boxDados p {
    font-size: 0.9rem;
  }

  /* planos */
  .planoItem h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .planoItem .beneficios span,
  .planoItem .btn {
    font-size: 1rem;
    text-align: center;
  }

  /* sobre-nos */
  .sobre-nos .content .text h2 {
    font-size: 1.5rem;
}

.sobre-nos .content .text p {
  font-size: 1rem;
}

}
